<h1> Farm Login</h1>
<form>
    <table>
        <tr [hidden] ="isFarmValid">
            <td colspan="3">
                {{serverIssue}}
            </td>
        </tr>
        <tr>
            <th>
                Please enter your username and password to login to your account:
            </th>
            <td *ngIf="!isFarmEditing">
                {{farm.farmUsername}}
            </td>
            <td *ngIf="isFarmEditing">
                <input name="farmUsername" [(ngModel)]="farm.farmUsername">
            </td>
            <td *ngIf="isFarmEditing">
                <input name="farmPassword" [(ngModel)]="farm.farmPassword">
            </td>
            <td>
                <button (click)="toggleIsFarmEditingForm()">
                    {{((!isFarmEditing)?"Login":"Login")}}
                </button>
            </td>
        </tr>
    </table>
    <div *ngIf="hasFarmData">
        <table>
            <tr>
                <td>
                    Name
                </td>
            </tr>
            <tr>
                <td>
                    {{farm.farmName}}
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>
                    Product Name
                </th>
                <th>
                    Product Price
                </th>
                <th>
                    Product Quantity
                </th>
            </tr>
            <tr *ngFor="let p of currentProduct">
                <td>
                    {{p.productName}}
                </td>
                <td>
                    {{p.productPrice}}
                </td>
                <td>
                    {{p.productQuantity}}
                </td>
            </tr>
        </table>
        <br>
        <br>
        <br>
        <h2>Add new product</h2>
        <button (click)="toggleIsAccountEditing()">{{((!isAccountEditing)?"Collapse":"Add new Product")}}</button>
        <form (submit)="addProducts({
            productID:0,
            productName:aProductName.value,
            productPrice:aProductPrice.value,
            productQuantity:aProductQuantity.value
        })" *ngIf="!isAccountEditing">
        <table>
            <tr>
                <th>
                    Product Name
                </th>
            </tr>
            <tr>
                <td>
                    <input name="productName" #aProductName>
                </td>
            </tr>
            <tr>
                <th>
                    Product Price
                </th>
            </tr>
            <tr>
                <td>
                    <input name="productPrice" #aProductPrice>
                </td>
            </tr>
            <tr>
                <th>
                    Product Quantity
                </th>
            </tr>
            <tr>
                <td>
                    <input name="productQuantity" #aProductQuantity>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Add Product">
                </td>
            </tr>
        </table>
        </form>
    </div>
    <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>