<h1>LOGIN PAGE</h1>
<form>
    <table>
        <tr [hidden]="isApplicantValid">
            <td colspan="3">
                {{serverIssue}}
            </td>
        </tr>
        <tr>
            <th>
                Retrieve your personal details:
            </th>
            <td *ngIf="!isCustomerEditing">
                {{customer.customerUsername}}
            </td>
            <td *ngIf="isCustomerEditing">
                <input name="customerUsername" [(ngModel)]="customer.customerUsername">
            </td>
            <!-- <td *ngIf="!isCustomerEditing">
                {{customer.customerPassword}}
            </td> -->
            <td *ngIf="isCustomerEditing">
                <input name="customerPassword" [(ngModel)]="customer.customerPassword">
            </td>
            <td>
                <button (click)="toggleIsCustomerEditingForm()">
                    {{((!isCustomerEditing)?"Login":"Login")}}
                </button>
            </td>
        </tr>
    </table>
<div *ngIf="hasCustomerData">
  <h4 [hidden]="isThereIssue">{{buyIssue}}</h4>
<table>
    <tr>
        <th>Product Type</th>
        <th>Product Price</th>
        <th>Product Quantity</th>
    </tr>

<tbody>
  <!-- <form (submit)="buyThings({
    productID:p.productID,
    assignedProductID:0,
    productQuantity:aQuantity.value
  })"> -->
 
    <tr *ngFor="let p of prod; let i = index; let a of aprod">
       <td>{{p.productName}}</td>
       <td>£{{p.productPrice}}</td>
       <td>{{p.remainQuantity}}</td>
       <td><input type="text" name="productQuantity-{{i}}" placeholder="Please enter desired quantity" [(ngModel)]="a.productQuantity" #aProductQuantity></td>
       

       <td><button (click)="buyThings(a.productQuantity, p.productID);">Buy This</button></td>
        
     </tr>
  <!-- </form> -->
</tbody> 
<!-- <tbody>
      <tr>
        <td>Chicken Leg</td>
        <td>£4.99</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Apple</td>
        <td>£0.79</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Milk</td>
        <td>£1.00</td>
        <td>500ml</td>
      </tr>
    </tbody> -->
  </table>
</div>
