<br>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="headerProduct">
    <h1>Welcome to our Product Availablity page </h1>
    <p><b>Easily check products in seconds </b></p>
    <P> Please enter the details in below:</P>
</div>
<br>
    <h2>&nbsp;Product Availablity</h2>
  <i>&nbsp;&nbsp;&nbsp;Log in to your account to view available products:</i>
  <br><br>

    <table style="width: 800px;" class="table table-bordered">
      <thead>
        <tr [hidden]="isApplicantValid">
            <td colspan="3">
                {{serverIssue}}
            </td>
        </tr>
        <tr>
            <th>
                Retrieve your personal details:
            </th>
            <td *ngIf="isCustomerEditing">
                <input name="customerUsername" [(ngModel)]="customer.customerUsername">
            </td>
            <!-- <td *ngIf="!isCustomerEditing">
                {{customer.customerPassword}}
            </td> -->
            <td *ngIf="isCustomerEditing">
                <input name="customerPassword" [(ngModel)]="customer.customerPassword">
            </td>
            <td>
                <button (click)="toggleIsCustomerEditingForm()">
                    {{((!isCustomerEditing)?"Login":"Login")}}
                </button>
            </td>
        </tr>
      </thead>
    </table>
<div *ngIf="hasCustomerData">
<table style="width: 800px;" class="table table-bordered">
<thead>
  <tr [hidden]="isThereIssue">
    <td>{{buyIssue}}</td>
  </tr>
    <tr>
        <th>Product Type</th>
        <th>Product Price</th>
        <th>Product Quantity</th>
    </tr>


  <!-- <form (submit)="buyThings({
    productID:p.productID,
    assignedProductID:0,
    productQuantity:aQuantity.value
  })"> -->
 
    <tr *ngFor="let p of prod; let i = index; let a of aprod">
       <td>{{p.productName}}</td>
       <td>{{p.productPrice}}</td>
       <td>{{p.remainQuantity}}</td>
       <td><input type="text" name="productQuantity-{{i}}" placeholder="Please enter desired quantity" [(ngModel)]="a.productQuantity" #aProductQuantity></td>
       

       <td><button (click)="buyThings(a.productQuantity, p.productID);">Buy This</button></td>
        
     </tr>
  <!-- </form> -->

<!-- <tbody>
      <tr>
        <td>Chicken Leg</td>
        <td>£4.99</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Apple</td>
        <td>£0.79</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Milk</td>
        <td>£1.00</td>
        <td>500ml</td>
      </tr>
    </tbody> -->
  </thead>
  </table>
</div>
<br><br>
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>
