th {
    padding: 5px;
}
  /* Header/logo Title */
  .headerCustomer {
    text-align: center;
    color: black;
  }
  .centre {
    border-radius: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }