<img src="https://st.depositphotos.com/1571889/1823/i/450/depositphotos_18235681-stock-photo-login-screen.jpg" alt="" class="centre">
<br>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="headerCustomer">
    <h1>Welcome to our Login page </h1>
    <p><b>Easily login in seconds </b></p>
    <P> Please enter the details in below:</P>
</div>
<br>
    <h2>&nbsp;Customer Login</h2>
  <i>&nbsp;&nbsp;&nbsp;Log in to your customer account to view your basket:</i>
  <br><br>
    <table style="width: 800px;" class="table table-bordered">
        <thead>
        <tr [hidden]="isApplicantValid">
            <td colspan="3">
                {{serverIssue}}
            </td>
        </tr>
        <tr>
            <th>
                Retrieve your personal details:
            </th>
            <td *ngIf="isCustomerEditing">
                <input name="customerUsername" [(ngModel)]="customer.customerUsername">
            </td>
            <!-- <td *ngIf="!isCustomerEditing">
                {{customer.customerPassword}}
            </td> -->
            <td *ngIf="isCustomerEditing">
                <input name="customerPassword" [(ngModel)]="customer.customerPassword">
            </td>
            <td>
                <button (click)="toggleIsCustomerEditingForm()">
                    {{((!isCustomerEditing)?"Login":"Login")}}
                </button>
            </td>
        </tr>
    </thead>
    </table>
    <div *ngIf="hasCustomerData">
        <table style="width: 800px;" class="table table-bordered">
            <thead>
            <tr>
                <td>
                    Welcome {{customer.customerForename}}
                </td>
            </tr>
        </thead>
        </table>
        <hr>
    <h2>View Your Basket</h2>
        <table style="width: 800px;" class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Basket ID
                <th>
                    Basket Value
                </th>
            </tr>
            <tr>
                <td>
                    {{currentBasket.basketID}}
                </td>
                <td>
                    £{{currentBasket.basketValue}}
                </td>
            </tr>
        </thead>
        </table>
        <table style="width: 800px;" class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Product Quantity
                </th>
                <th>
                    Product Name
                </th>
            </tr>
            <tr *ngFor="let a of aProd">
                <td>
                    {{a.productQuantity}}
                </td>
                <td>
                    {{currentProduct.productName}}
                </td>
            </tr>
        </thead>
        </table>
    <!-- <h2>Products Ordered</h2>
    <p> Hey guys just adding this in as a placeholder. not sure if we are planning to add this to show what is in the basket?</p>
        <table>
            <tr>
                <th>
                    Product Name
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
            </tr>
            <tr *ngFor = "let p of productsOrdered">
                <td>
                    {{p.productName}}
                </td>
                <td>
                    {{p.productPrice}}
                </td>
                <td>
                    {{p.productQuantity}}
                </td>
            </tr>
        </table> -->
        <hr>
    </div>
    </body>
    <br><br>
    <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>

