<!DOCTYPE html>
<head>
  <title>Home main layout</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>About Us</h2>
      <h5>Photo of one of our farms:</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Description about our farm and its proudcts</p>
      <h3>Help links?</h3>
      <p>Quick acess help for user</p>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Help me</a></li>
        <li><a href="#">Contact us </a></li>
        <li><a href="#">Feedback</a></li>
      </ul>
      <hr class="hidden-sm hidden-md hidden-lg">
    </div>
    <div class="col-sm-8">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Farmer</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text..</p>
      <p>Information about products...</p>
      <br>
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text..</p>
      <p>Information about products...</p>
    </div>
  </div>
</div>

</body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Footer</p>
</div>

  
 
    
