<!-- <html>
  <head>
<style>
.container {
  position: relative;
  text-align: center;
  color: black;
}
.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

</style>
</head>
<body>
<div class="container">
  <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/shopping-bag-full-of-fresh-vegetables-and-fruits-royalty-free-image-1128687123-1564523576.jpg?crop=1.00xw:0.751xh;0,0.212xh&resize=1200:*" style="width:100%;">
  <div class="centered">
      <h2 style="font-size:50px" style=" font-weight: 550;" class="w3-wide">Our Products</h2>
      <p style="font-size:20px" style=" font-weight: 1000;" class="w3-opacity"><i>We value your local produce</i></p>
      <p class="w3-justify" style=" font-weight: 500;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We have created a fictional farming product website.</p>

  </div>
</div>


<div class="w3-content" style="max-width:2000px;margin-top:46px"></div> -->
<!-- The advertisement Section -->
<!-- <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Our Products</h2>
    <p class="w3-opacity"><i>We value your local produce</i></p>
    <p class="w3-justify">We have created a fictional farming product website.</p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>Vegtable</p>
        <img src="F2HfrontEnd/src/assets/vegtable.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Fruit</p>
        <img src="F2HfrontEnd/src/assets/''" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Meat</p>
      <img src="F2HfrontEnd/src/assets/''" class="w3-round" alt="vegtable" style="width:60%">
      </div>
      </div>
      </div>
      </body>
      </html> -->


<!DOCTYPE html>
<head>
  <title>Home main layout</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>About Us</h2>
      <h5>Photo of one of our farms:</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Description about our farm and its proudcts</p>
      <h3>Help links?</h3>
      <p>Quick acess help for user</p>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Help me</a></li>
        <li><a href="#">Contact us </a></li>
        <li><a href="#">Feedback</a></li>
      </ul>
      <hr class="hidden-sm hidden-md hidden-lg">
    </div>
    <div class="col-sm-8">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Farmer</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text..</p>
      <p>Information about products...</p>
      <br>
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text..</p>
      <p>Information about products...</p>
    </div>
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Footer</p>
</div>

  </body>

  
 
    
